/* Iconos */
/* Carrito */
.iconoCarrito a {
    color: $blanco;
    display: inline-block;
    padding: 10px;
}

/* Whatsapp */
.fa-whatsapp {
    color: $blanco;
    background-color: $verde;
    font-size: 2rem;
    padding: 0.6rem;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 3%;
}