/* Tienda */
.card-deck {
    .card {
        .card-body {
            .card-title {
                font-family: 'Dancing Script', cursive;
                font-size: 1.6rem;
                color: $verde;
                padding: 0.2rem;
                margin-bottom: 0.2rem;
            }

            .card-text {
                color: $verde;
                text-align: center;
                font-style: italic;
                padding: 0.5rem;
                margin: 0.3rem;
                background-color: $blanco;
            }

            .cardAgregar {
                background-color: $verde;
            }
        }
    }
}