// Body
body {
    font-family: "Open Sans", sans-serif;
    color: #051922;
}

// Titulos
h1,
h3 {
    font-family: 'Dancing Script', cursive;
    color: $blanco;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    text-align: center;
    color: $verde;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    color: $blanco;
    text-align: center;
    font-size: 0.7rem;
}

// Enlaces
a {
    text-decoration: none;
}

// Párrafos
p {
    text-align: justify;
    padding: 1rem;
    font-size: 0.7rem;
    color: #fff;
    background-color: #0D5102;
    margin: 1rem;
    border-radius: 10px;
    align-items: center;
}

// Título página
.tituloPagina {
    background-color: #0D5102;
    padding: 1rem;
    opacity: 0.5;
    width: 100%;
    text-align: center;
    h3 {
        color: floralwhite;
    }
}